<header class="py-10 text-center">
    <p class="text-2xl font-semibold">Day {{data.day_number}} of {{data.year}}</p>
</header>
<main class="flex flex-col items-start justify-start border-t border-b py-10 mb-10 border-base-300">
    <div class="flex flex-row items-center justify-start space-x-3">
        <span><p>Routine days {{data.routine_days}}</p></span>
        <span class="cursor-pointer text-xl font-semibold"
            hx-put="update_days/rd" hx-target="#index_data" 
            hx-swap="innerHTML" hx-trigger="click"> + </span>
    </div>
    <div class="flex flex-row items-center justify-start space-x-3">
        <span><p>Learning days {{data.learning_days}}</p></span>
        <span class="cursor-pointer text-xl font-semibold" 
            hx-put="update_days/ld" hx-target="#index_data" 
            hx-swap="innerHTML" hx-trigger="click"> + </span>

    </div>
</main>
<footer class="text-center">
    <p>Binary Jinx year Counter</p>
</footer>